@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
}

@font-face {
    font-family: YekanBakhFaNum;
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/woff/YekanBakhFaNum-thin.woff) format("woff"), url(../fonts/woff2/YekanBakhFaNum-thin.woff2) format("woff2"), url(../fonts/ttf/YekanBakhFaNum-Thin.ttf) format("truetype"), url(../fonts/otf/YekanBakhFaNum-Thin.otf) format("opentype")
}

@font-face {
    font-family: YekanBakhFaNum;
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/woff/YekanBakhFaNum-Light.woff) format("woff"), url(../fonts/woff2/YekanBakhFaNum-Light.woff2) format("woff2"), url(../fonts/ttf/YekanBakhFaNum-Light.ttf) format("truetype"), url(../fonts/otf/YekanBakhFaNum-Light.otf) format("opentype")
}

@font-face {
    font-family: YekanBakhFaNum;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/woff/YekanBakhFaNum-Regular.woff) format("woff"), url(../fonts/woff2/YekanBakhFaNum-Regular.woff2) format("woff2"), url(../fonts/ttf/YekanBakhFaNum-Regular.ttf) format("truetype"), url(../fonts/otf/YekanBakhFaNum-Regular.otf) format("opentype")
}

@font-face {
    font-family: YekanBakhFaNum;
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/woff/YekanBakhFaNum-SemiBold.woff) format("woff"), url(../fonts/woff2/YekanBakhFaNum-SemiBold.woff2) format("woff2"), url(../fonts/ttf/YekanBakhFaNum-SemiBold.ttf) format("truetype"), url(../fonts/otf/YekanBakhFaNum-SemiBold.otf) format("opentype")
}

@font-face {
    font-family: YekanBakhFaNum;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/woff/YekanBakhFaNum-Bold.woff) format("woff"), url(../fonts/woff2/YekanBakhFaNum-Bold.woff2) format("woff2"), url(../fonts/ttf/YekanBakhFaNum-Bold.ttf) format("truetype"), url(../fonts/otf/YekanBakhFaNum-Bold.otf) format("opentype")
}

@font-face {
    font-family: YekanBakhFaNum;
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/woff/YekanBakhFaNum-ExtraBold.woff) format("woff"), url(../fonts/woff2/YekanBakhFaNum-ExtraBold.woff2) format("woff2"), url(../fonts/ttf/YekanBakhFaNum-ExtraBold.ttf) format("truetype"), url(../fonts/otf/YekanBakhFaNum-ExtraBold.otf) format("opentype")
}

@font-face {
    font-family: YekanBakhFaNum;
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/woff/YekanBakhFaNum-Black.woff) format("woff"), url(../fonts/woff2/YekanBakhFaNum-Black.woff2) format("woff2"), url(../fonts/ttf/YekanBakhFaNum-Black.ttf) format("truetype"), url(../fonts/otf/YekanBakhFaNum-Black.otf) format("opentype")
}

@font-face {
    font-family: YekanBakhFaNum;
    font-style: normal;
    font-weight: 950;
    src: url(../fonts/woff/YekanBakhFaNum-ExtraBlack.woff) format("woff"), url(../fonts/woff2/YekanBakhFaNum-ExtraBlack.woff2) format("woff2"), url(../fonts/ttf/YekanBakhFaNum-ExtraBlack.ttf) format("truetype"), url(../fonts/otf/YekanBakhFaNum-ExtraBlack.otf) format("opentype")
}

@font-face {
    font-family: YekanBakhFaNum;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ttf/YekanBakhFaNum-VF.ttf) format("truetype")
}

@font-face {
    font-family: IRANYekanXFaNum;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/woff/IRANYekanXFaNum-Regular.woff) format("woff"), url(../fonts/woff2/IRANYekanXFaNum-Regular.woff2) format("woff2"), url(../fonts/ttf/IRANYekanXFaNum-Regular.ttf) format("truetype")
}

@font-face {
    font-family: IRANYekanXFaNum;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/woff/IRANYekanXFaNum-Bold.woff) format("woff"), url(../fonts/woff2/IRANYekanXFaNum-Bold.woff2) format("woff2"), url(../fonts/ttf/IRANYekanXFaNum-Bold.ttf) format("truetype")
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: normal;
    src:
        url('/fonts/woff2/IRANSansXFaNum-Regular.woff2') format('woff2');
}



@font-face {
    font-family: PeydaWebFaNum;
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/woff2/PeydaWebFaNum-Thin.woff2) format("woff2"), url(../fonts/woff/PeydaWebFaNum-Thin.woff) format("woff"), url(../fonts/ttf/PeydaFaNum-Thin.ttf) format("truetype")
}

@font-face {
    font-family: PeydaWebFaNum;
    font-style: normal;
    font-weight: 200;
    src: url(../fonts/woff2/PeydaWebFaNum-ExtraLight.woff2) format("woff2"), url(../fonts/woff/PeydaWebFaNum-ExtraLight.woff) format("woff"), url(../fonts/ttf/PeydaFaNum-ExtraLight.ttf) format("truetype")
}

@font-face {
    font-family: PeydaWebFaNum;
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/woff2/PeydaWebFaNum-Light.woff2) format("woff2"), url(../fonts/woff/PeydaWebFaNum-Light.woff) format("woff"), url(../fonts/ttf/PeydaFaNum-Light.ttf) format("truetype")
}

@font-face {
    font-family: PeydaWebFaNum;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/woff2/PeydaWebFaNum-Medium.woff2) format("woff2"), url(../fonts/woff/PeydaWebFaNum-Medium.woff) format("woff"), url(../fonts/ttf/PeydaFaNum-Medium.ttf) format("truetype")
}

@font-face {
    font-family: PeydaWebFaNum;
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/woff2/PeydaWebFaNum-SemiBold.woff2) format("woff2"), url(../fonts/woff/PeydaWebFaNum-SemiBold.woff) format("woff"), url(../fonts/ttf/PeydaFaNum-SemiBold.ttf) format("truetype")
}

@font-face {
    font-family: PeydaWebFaNum;
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/woff2/PeydaWebFaNum-ExtraBold.woff2) format("woff2"), url(../fonts/woff/PeydaWebFaNum-ExtraBold.woff) format("woff"), url(../fonts/ttf/PeydaFaNum-ExtraBold.ttf) format("truetype")
}

@font-face {
    font-family: PeydaWebFaNum;
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/woff2/PeydaWebFaNum-Black.woff2) format("woff2"), url(../fonts/woff/PeydaWebFaNum-Black.woff) format("woff"), url(../fonts/ttf/PeydaFaNum-Black.ttf) format("truetype")
}

@font-face {
    font-family: PeydaWebFaNum;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/woff2/PeydaWebFaNum-Bold.woff2) format("woff2"), url(../fonts/woff/PeydaWebFaNum-Bold.woff) format("woff"), url(../fonts/ttf/PeydaFaNum-Bold.ttf) format("truetype")
}

@font-face {
    font-family: PeydaWebFaNum;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/woff2/PeydaWebFaNum-Regular.woff2) format("woff2"), url(../fonts/woff/PeydaWebFaNum-Regular.woff) format("woff"), url(../fonts/ttf/PeydaFaNum-Regular.ttf) format("truetype")
}

@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 10;
    src: url(../fonts/woff2/DanaFaNum-Hairline.woff2) format("woff2"), url(../fonts/woff/DanaFaNum-Hairline.woff) format("woff"), url(../fonts/ttf/DanaFaNum-Hairline.ttf) format("truetype")
}

@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/woff2/DanaFaNum-Thin.woff2) format("woff2"), url(../fonts/woff/DanaFaNum-Thin.woff) format("woff"), url(../fonts/ttf/DanaFaNum-Thin.ttf) format("truetype")
}

@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 200;
    src: url(../fonts/woff2/DanaFaNum-UltraLight.woff2) format("woff2"), url(../fonts/woff/DanaFaNum-UltraLight.woff) format("woff"), url(../fonts/ttf/DanaFaNum-UltraLight.ttf) format("truetype")
}

@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/woff2/DanaFaNum-Light.woff2) format("woff2"), url(../fonts/woff/DanaFaNum-Light.woff) format("woff"), url(../fonts/ttf/DanaFaNum-Light.ttf) format("truetype")
}

@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/woff2/DanaFaNum-Medium.woff2) format("woff2"), url(../fonts/woff/DanaFaNum-Medium.woff) format("woff"), url(../fonts/ttf/DanaFaNum-Medium.ttf) format("truetype")
}

@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/woff2/DanaFaNum-DemiBold.woff2) format("woff2"), url(../fonts/woff/DanaFaNum-DemiBold.woff) format("woff"), url(../fonts/ttf/DanaFaNum-DemiBold.ttf) format("truetype")
}

@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/woff2/DanaFaNum-ExtraBold.woff2) format("woff2"), url(../fonts/woff/DanaFaNum-ExtraBold.woff) format("woff"), url(../fonts/ttf/DanaFaNum-ExtraBold.ttf) format("truetype")
}

@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/woff2/DanaFaNum-Black.woff2) format("woff2"), url(../fonts/woff/DanaFaNum-Black.woff) format("woff"), url(../fonts/ttf/DanaFaNum-Black.ttf) format("truetype")
}

@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 930;
    src: url(../fonts/woff2/DanaFaNum-ExtraBlack.woff2) format("woff2"), url(../fonts/woff/DanaFaNum-ExtraBlack.woff) format("woff"), url(../fonts/ttf/DanaFaNum-ExtraBlack.ttf) format("truetype")
}

@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 960;
    src: url(../fonts/woff2/DanaFaNum-Heavy.woff2) format("woff2"), url(../fonts/woff/DanaFaNum-Heavy.woff) format("woff"), url(../fonts/ttf/DanaFaNum-Heavy.ttf) format("truetype")
}

@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 990;
    src: url(../fonts/woff2/DanaFaNum-Fat.woff2) format("woff2"), url(../fonts/woff/DanaFaNum-Fat.woff) format("woff"), url(../fonts/ttf/DanaFaNum-Fat.ttf) format("truetype")
}

@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/woff2/DanaFaNum-Bold.woff2) format("woff2"), url(../fonts/woff/DanaFaNum-Bold.woff) format("woff"), url(../fonts/ttf/DanaFaNum-Bold.ttf) format("truetype")
}

@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/woff2/DanaFaNum-Regular.woff2) format("woff2"), url(../fonts/woff/DanaFaNum-Regular.woff) format("woff"), url(../fonts/ttf/DanaFaNum-Regular.ttf) format("truetype")
}

@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ttf/DanaVF.ttf) format("truetype")
}

@font-face {
    font-family: font;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/fa-brands-400.woff) format("woff")
}

@font-face {
    font-family: anj;
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/ttf/mahboubehpink.ttf) format("woff")
}


@theme {
    --font-sans: 'IRANSansX';

    --color-primary: #966D22;
    --color-secondary: #DDB976;

    --color-cgreen: #96A825;
    --color-cred: #E84362;
    --color-stroke: #0000001A;
    --color-strokesec: #00000033;
    --color-graydark: #616161;
    --color-pending: #F8E9CA;
    --color-confirm: #E7F2A7;
    --color-reject: #E8436280;
    --color-reject: #E8436280;

    --color-main: #F4F4F4;

    --radius-10: 10px;

    --text-2sm: 10px;
}

@utility container {
    margin: auto;
    padding-inline: 1rem;

    @variant sm {
        padding-inline: 2rem;
    }

    @variant lg {
        padding-inline: 4rem;
    }

    @variant xl {
        padding-inline: 5rem;
    }

    @variant 2xl {
        padding-inline: 10rem;
    }
}

* {
    outline: none
}

body {
    min-height: 100vh;
    color: #616161;
}

button {
    cursor: pointer;
}

.req {
    @apply after:content-['*'] after:text-red-500
}

.toggle-switch {
    @apply toggle border-[#BFBFBF] bg-[#BFBFBF] checked:border-[#7AB73E] checked:bg-[#7AB73E] text-white
}

.checkbox-c {
    @apply checkbox checkbox-accent text-white;
}

.flex-center {
    @apply flex justify-center items-center
}

.cinput {
    @apply border border-strokesec rounded-10 p-2 w-full bg-white
}

/* primevue styles */
.p-dialog {
    @apply !w-[90%] !max-w-[450px]
}

.p-toast {
    @apply !w-[90%] !max-w-[400px]
}

.p-button {
    border-radius: 10px !important;
    border: none !important;
    transition: all 150ms;
}

/* .p-button:hover {
    opacity: .9;
} */

.p-drawer {
    @apply !rounded-t-2xl !text-graydark
}

:root {
    --color-primary: #966D22;
    --color-secondary: #DDB976;
    --color-accent: #96A825;

    --p-select-option-selected-color: white !important;
    --p-select-option-selected-focus-color: white !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

.vpd-input-group {
    flex-direction: row-reverse !important;
    background: #F5F7FA !important;
    border-radius: 0 10px 10px 0 !important;
}

.vpd-icon-btn {
    border-radius: 10px 0 0 10px !important;
    width: 40px !important;
}

.form-control {
    background: white !important;
    border: 1px solid #00000026 !important;
    height: 40px !important;
    border-radius: 0 10px 10px 0 !important;
}