@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 100;
    src: url(../../public/fonts/Woff/IRANSansXFaNum-Bold.woff) format("woff"), url(../../public/fonts/Woff2/IRANSansXFaNum-Bold-thin.woff2) format("woff2")
}


@theme {
    --font-sans: 'IRANSansX';

    --color-primary: #966D22;
    --color-secondary: #DDB976;

    --color-cgreen: #96A825;
    --color-cred: #E84362;
    --color-stroke: #0000001A;
    --color-strokesec: #00000033;
    --color-graydark: #616161;
    --color-pending: #F8E9CA;
    --color-confirm: #E7F2A7;
    --color-reject: #E8436280;
    --color-reject: #E8436280;

    --color-main: #F4F4F4;

    --radius-10: 10px;

    --text-2sm: 10px;
}

@utility container {
    margin: auto;
    padding-inline: 1rem;

    @variant sm {
        padding-inline: 2rem;
    }

    @variant lg {
        padding-inline: 4rem;
    }

    @variant xl {
        padding-inline: 5rem;
    }

    @variant 2xl {
        padding-inline: 10rem;
    }
}

* {
    outline: none
}

body {
    min-height: 100vh;
    color: #616161;
    overflow-x: hidden;
    touch-action: manipulation;
}

button {
    cursor: pointer;
}

.ltr-dir {
    direction: ltr;
}

.req {
    @apply after:content-['*'] after:text-red-500
}

/* تغییر در اینجا انجام شد */
.toggle-switch {
    /* ltr-dir را از اینجا حذف کنید */
    @apply toggle border-[#BFBFBF] bg-[#BFBFBF] checked:border-[#7AB73E] checked:bg-[#7AB73E] text-white;

    /* ویژگی CSS را مستقیم اینجا بنویسید */
    direction: ltr;
}

.checkbox-c {
    @apply checkbox checkbox-accent text-white;
}

.flex-center {
    @apply flex justify-center items-center
}

.cinput {
    @apply border border-strokesec rounded-10 p-2 w-full bg-white
}

/* primevue styles */
.p-dialog {
    @apply  !w-[90%] !max-w-[450px]
}

.p-toast {
    @apply  !w-[90%] !max-w-[400px]
}

.p-button {
    border-radius: 10px !important;
    border: none !important;
    transition: all 150ms;
}

/* .p-button:hover {
    opacity: .9;
} */

.p-drawer {
    @apply  !rounded-t-2xl !text-graydark
}

:root {
    --color-primary: #966D22;
    --color-secondary: #DDB976;
    --color-accent: #96A825;

    --p-select-option-selected-color: white !important;
    --p-select-option-selected-focus-color: white !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

.vpd-input-group {
    flex-direction: row-reverse !important;
    background: #F5F7FA !important;
    border-radius: 0 10px 10px 0 !important;
}

.vpd-icon-btn {
    border-radius: 10px 0 0 10px !important;
    width: 40px !important;
}

.form-control {
    background: white !important;
    border: 1px solid #00000026 !important;
    height: 40px !important;
    border-radius: 0 10px 10px 0 !important;
}